<div class="container">
  <h3 (click)="dashboard()">Dashboard<br />
    <small>The City School</small>
  </h3>
  <br />

  <div class="row">
    <div class="col-sm-2">
      <nav class="nav-sidebar">
        <ul class="nav">
          <li><a href="javascript:;" (click)="user()">User Management</a></li>
          <li class="active"><a href="javascript:;" (click)="campus()">Campus Management</a></li>
          <li><a href="javascript:;" (click)="class()">Classes Management</a></li>
          <li><a href="javascript:;" (click)="course()">Courses Management</a></li>
          <li><a href="javascript:;" (click)="exam()">Exams Management</a></li>
          <li><a href="javascript:;" (click)="fees()">Fees Management</a></li>
          <li><a href="javascript:;" (click)="announce()">Announcements</a></li>
          <li><a href="javascript:;" (click)="alumini()">Alumini Management</a></li>
          <li><a href="javascript:;" (click)="account()">Account Management</a></li>
          <li><a href="javascript:;" (click)="report()">Reporting</a></li>
          <li class="nav-divider"></li>
          <li><a href="javascript:;" (click)="logOut()"><i class="glyphicon glyphicon-off"></i> Sign out</a></li>
        </ul>
      </nav>
    </div>
    <h2>Add Campus</h2>
    <form>
      Campus Name: 
      <input type="text" name="cName" placeholder="Campus Name" required #cName/>
      <br/><br/>
      Campus Address: 
      <input type="text" name="cAddress" placeholder="Campus Address" required #cAddress/>
      <br/><br/>
      <button type="submit" name="addCampus" (click)="addCampus(cName, cAddress)" >Add Campus</button>
    </form>
  </div>
</div>
