<div>
  <h3 (click)="dashboard()">Dashboard<br />
    <small>The City School</small>
  </h3>
  <br />

  <div class="row">
    <div class="col-sm-2">
      <nav class="nav-sidebar">
        <ul class="nav">
          <li><a href="javascript:;" (click)="user()">User Management</a></li>
          <li class="active"><a href="javascript:;" (click)="campus()">Campus Management</a></li>
          <li><a href="javascript:;" (click)="class()">Classes Management</a></li>
          <li><a href="javascript:;" (click)="course()">Courses Management</a></li>
          <li><a href="javascript:;" (click)="exam()">Exams Management</a></li>
          <li><a href="javascript:;" (click)="fees()">Fees Management</a></li>
          <li><a href="javascript:;" (click)="announce()">Announcements</a></li>
          <li><a href="javascript:;" (click)="alumini()">Alumini Management</a></li>
          <li><a href="javascript:;" (click)="account()">Account Management</a></li>
          <li><a href="javascript:;" (click)="report()">Reporting</a></li>
          <li class="nav-divider"></li>
          <li><a href="javascript:;" (click)="logOut()"><i class="glyphicon glyphicon-off"></i> Sign out</a></li>
        </ul>
      </nav>
    </div>

    <div class="col-sm-4">
      <h2>Add Campus</h2>
      <form class="form">
        <label>Campus Name: </label>
        <input type="text" name="cName" placeholder="Campus Name" #cName/>
        <br/><br/>
        <label>Campus Address: </label>
        <input type="text" name="cAddress" placeholder="Campus Address" #cAddress/>
        <br/><br/>
        <div class="text-center">
          <button type="submit" class="btn btn-lg btn-primary" (click)="addCampus(cName, cAddress)">Add Campus</button>
        </div>
        <br/>
        <div id="response">{{ response }}</div>
      </form>
    </div>

    <div class="col-sm-5">
      <h2>All Campuses</h2>
      <div id="tableWrapper">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Address</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let Campus of getCampuses">
              <td *ngIf="Campus.id !== editRow" (click)="toggle(Campus.id)">{{Campus.name}}</td>
              <td *ngIf="Campus.id === editRow">
                <input class="update" (keyup.enter)="editCampus(Campus)" type="text" [(ngModel)]="Campus.name" />
              </td>
              <td *ngIf="Campus.id !== editRow" (click)="toggle(Campus.id)">{{Campus.address}}</td>
              <td *ngIf="Campus.id === editRow">
                <input class="update" (keyup.enter)="editCampus(Campus)" type="text" [(ngModel)]="Campus.address" />
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="col-sm-4">
      <br/><br/><br/>
      <h2>Assign Teachers to Campus</h2>
      <div class="text-center">
        <label>Select Teacher: </label>
        <select [(ngModel)]="teacherId" id="teacher">
            <option *ngFor="let Teacher of getTeachers" [value]="Teacher.id">{{Teacher.User.firstName}} {{Teacher.User.lastName}}</option>
          </select>
        <br/><br/>
        <label>Select Campus: </label>
        <select [(ngModel)]="campusId1" id="campus">
            <option *ngFor="let Campus of getCampuses" [value]="Campus.id">{{Campus.name}}</option>
        </select>
        <br/><br/>
        <button type="submit" class="btn btn-primary" (click)="assignCampusTeacher(teacherId, campusId1)">Assign</button>
      </div>
      <br/>
      <div id="response2">{{ response2 }}</div>
    </div>

    <div class="col-sm-5">
      <br/><br/><br/>
      <h2>All Teachers</h2>
      <div id="tableWrapper">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Gender</th>
              <th>Campus</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let Teacher of getTeachers">
              <td>{{Teacher.User.firstName}}</td>
              <td>{{Teacher.User.lastName}}</td>
              <td>{{Teacher.User.gender}}</td>
              <td *ngFor="let TC of Teacher.Campuses" style="display: block;">{{TC.name}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="col-sm-2"></div>

    <div class="col-sm-4">
      <br/><br/><br/>
      <h2>Assign Staffs to Campus</h2>
      <div class="text-center">
        <label>Select Staff: </label>
        <select [(ngModel)]="staffId" id="staff">
          <option *ngFor="let Staff of getStaffs" [value]="Staff.id">{{Staff.User.firstName}} {{Staff.User.lastName}}</option>
        </select>
        <br/><br/>
        <label>Select Campus: </label>
        <select [(ngModel)]="campusId2" id="campus">
          <option *ngFor="let Campus of getCampuses" [value]="Campus.id">{{Campus.name}}</option>
        </select>
        <br/><br/>
        <button type="submit" class="btn btn-primary" (click)="assignCampusStaff(staffId, campusId2)">Assign</button>
      </div>
      <br/>
      <div id="response3">{{ response3 }}</div>
    </div>

    <div class="col-sm-5">
      <br/><br/><br/>
      <h2>All Staffs</h2>
      <div id="tableWrapper">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Gender</th>
              <th>Campus</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let Staff of getStaffs">
              <td>{{Staff.User.firstName}}</td>
              <td>{{Staff.User.lastName}}</td>
              <td>{{Staff.User.gender}}</td>
              <td *ngFor="let SC of Staff.Campuses" style="display: block;">{{SC.name}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>
