<div>
  <h3 (click)="dashboard()">Dashboard<br />
    <small>The City School</small>
  </h3>
  <br />

  <div class="row">
    <div class="col-sm-2">
      <nav class="nav-sidebar">
        <ul class="nav">
          <li class="active"><a href="javascript:;">User Management</a></li>
          <li><a routerLink="/campus">Campus Management</a></li>
          <li><a href="javascript:;" (click)="class()">Classes Management</a></li>
          <li><a href="javascript:;" (click)="course()">Courses Management</a></li>
          <li><a href="javascript:;" (click)="exam()">Exams Management</a></li>
          <li><a href="javascript:;" (click)="fees()">Fees Management</a></li>
          <li><a href="javascript:;" (click)="announce()">Announcements</a></li>
          <li><a href="javascript:;" (click)="alumini()">Alumini Management</a></li>
          <li><a href="javascript:;" (click)="account()">Account Management</a></li>
          <li><a href="javascript:;" (click)="report()">Reporting</a></li>
          <li class="nav-divider"></li>
          <li><a href="javascript:;" (click)="logOut()"><i class="glyphicon glyphicon-off"></i> Sign out</a></li>
        </ul>
      </nav>
    </div>

    <div class="col-sm-4">
      <h2>Add Users</h2>
      <form class="form">
        <label>First Name: </label>
        <input type="text" name="cName" placeholder="First Name" #fName/>
        <br/><br/>
        <label>Last Name: </label>
        <input type="text" name="cAddress" placeholder="Last Name" #lName/>
        <br/><br/>
        <label>Gender: </label>
        <input type="text" id="gender" name="gender" placeholder="Sex" #gender/>
        <br/><br/>
        <label>Date of birth: </label>
        <input type="text" id="dob" name="dob" placeholder="Date of birth" #dob/>
        <br/><br/>
        <label>Role: </label>
        <select (change)="onChange($event.target.value)" id="roles">
          <option disabled hidden>-- select --</option>
          <option value="teacher">Teacher</option>
          <option value="student">Student</option>
          <option value="staff">Staff</option>
        </select>
        <div id="hidden_div" style="display:none;">
          <br/><br/>
          <label>Administrator: </label>
          <input type="checkbox" id="check" />
          <br/><br/>
          <label>Username: </label>
          <input type="text" id="username" name="username" placeholder="Username" #username/>
          <br/><br/>
          <label>Password: </label>
          <input type="password" id="password" name="password" placeholder="Password" #password/>
        </div>
        <br/><br/>
        <div class="text-center">
          <button type="submit" class="btn btn-lg btn-primary" name="addUser" (click)="addUser(fName, lName, gender, dob, true, username, password)">Add User</button>
        </div>
        <br/>
        <div id="response">{{ response }}</div>
      </form>
    </div>

    <div class="col-sm-5">
      <h2>All User</h2>
      <div id="tableWrapper">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Gender</th>
              <th>Date of birth</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of getData">
              <td *ngIf="data.id !== editRow" (click)="toggle(data.id)">{{data.firstName}}</td>
              <td *ngIf="data.id === editRow">
                <input class="update" (keyup.enter)="editUser(data)" type="text" [(ngModel)]="data.firstName" />
              </td>
              <td *ngIf="data.id !== editRow" (click)="toggle(data.id)">{{data.lastName}}</td>
              <td *ngIf="data.id === editRow">
                <input class="update" (keyup.enter)="editUser(data)" type="text" [(ngModel)]="data.lastName" />
              </td>
              <td *ngIf="data.id !== editRow" (click)="toggle(data.id)">{{data.gender}}</td>
              <td *ngIf="data.id === editRow">
                <input class="update" (keyup.enter)="editUser(data)" type="text" [(ngModel)]="data.gender" />
              </td>
              <td *ngIf="data.id !== editRow" (click)="toggle(data.id)">{{data.dob}}</td>
              <td *ngIf="data.id === editRow">
                <input class="update" (keyup.enter)="editUser(data)" type="text" [(ngModel)]="data.dob" />
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="col-sm-4"></div>

    <div class="col-sm-5">
      <br/><br/><br/>
      <h2>All Staffs</h2>
      <div id="tableWrapper">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Gender</th>
              <th>Campus</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let Staff of getStaffs">
              <td>{{Staff.User.firstName}}</td>
              <td>{{Staff.User.lastName}}</td>
              <td>{{Staff.User.gender}}</td>
              <td>{{Staff.User.dob}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="col-sm-4"></div>

    <div class="col-sm-5">
      <br/><br/><br/>
      <h2>All Teachers</h2>
      <div id="tableWrapper">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Gender</th>
              <th>Campus</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let Teacher of getTeachers">
              <td>{{Teacher.User.firstName}}</td>
              <td>{{Teacher.User.lastName}}</td>
              <td>{{Teacher.User.gender}}</td>
              <td>{{Teacher.User.dob}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>


  </div>
</div>
