<div class="container">
  <div class="row" id="pwd-container">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <section class="login-form">
        <form method="post" action="#" role="login">
          <img src="assets/Logo.png" class="img-responsive" alt="" />
          <input type="text" name="email" placeholder="User Name" required class="form-control input-lg" value="DaNRoxXx" #email
          />

          <input type="password" class="form-control input-lg" id="password" placeholder="Password" required="" #userPassword />

          <div class="pwstrength_viewport_progress"></div>
          <div id="response">{{ response }}</div>

          <button type="submit" name="go" class="btn btn-lg btn-primary btn-block" (click)="sign(email, userPassword)">Sign in</button>
          <!--<div>
            <a href="signup">Create account</a> or <a href="#">reset password</a>
          </div>!-->
        </form>
      </section>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>