<div class="container" style="width:400px; margin:0 auto;">
  <div class="row">


    <form class="form-horizontal" action="" method="POST">
      <fieldset>
        <div id="legend"><br /> <br />
          <legend class="">Register</legend>
        </div>
        <div class="control-group">
          <label class="control-label" for="username">Username</label>
          <div class="controls">
            <input type="text" id="username" name="username" placeholder="" class="form-control input-lg" #userName>
            <p class="help-block">Username can contain any letters or numbers, without spaces</p>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="email">E-mail</label>
          <div class="controls">
            <input type="email" id="email" name="email" placeholder="" class="form-control input-lg" #email>
            <p class="help-block">Please provide your E-mail</p>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="password">Password</label>
          <div class="controls">
            <input type="password" id="password" name="password" placeholder="" class="form-control input-lg" #userPassword>
            <p class="help-block">Password should be at least 6 characters</p>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="password_confirm">Password (Confirm)</label>
          <div class="controls">
            <input type="password" id="password_confirm" name="password_confirm" placeholder="" class="form-control input-lg">
            <p class="help-block">Please confirm password</p>
          </div>
        </div>

        <div class="control-group">
          <!-- Button -->
          <div class="controls">
            <button class="btn btn-lg btn-primary btn-block" (click)="signup(userName, email, userPassword)">Register</button>
          </div>
        </div>
      </fieldset>
    </form>


  </div>
</div>
